@media (max-width: 800px) {
  header {
    width: 100%;
    background: red;
    color: blue;
  }

  section {
    width: 100%;
    background: blue;
    color: yellow;
  }

  footer {
    width: 100%;
    background: yellow;
    color: red;
  }
}

@media (min-width: 800px) and (max-width: 1280px) {
  header {
    width: 100%;
    background: blue;
    color: yellow;
  }

  section {
    width: 80%;
    margin: 10%;
    background: yellow;
    color: red;
  }

  footer {
    width: 100%;
    background: red;
    color: blue;
  }
}

@media (min-width: 1280px) {
  header {
    width: 100%;
    background: yellow;
    color: red;
  }

  section {
    width: 80%;
    margin: 10%;
    background: red;
    color: blue;
  }

  footer {
    width: 100%;
    background: blue;
    color: yellow;
  }
}
